.search-images {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  gap: 8px;
}

.search-images-input {
  width: 272px;
  height: 40px;
  border: 1px, solid, rgba(128, 128, 128, 1);
  border-radius: 4px;
  padding: 0;
}

.search-images-input:hover {
  border: 1px, solid, black;
}

.search-images-input:focus {
  border-color: 1px, solid, rgba(78, 117, 255, 1);
}

.search-images-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.1;
  color: rgba(128, 128, 128, 1);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.btn-search {
  width: 91px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: rgba(78, 117, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.1;
  color: rgba(255, 255, 255, 1);
}

.btn-search:hover {
  background-color: rgba(108, 140, 255, 1);
}

.characteristics-photo {
  display: flex;
  width: 360px;
  height: 48px;

  position: relative;
  background-color: white;
  gap: 24px;
  bottom: 0;
  margin: 0;
  top: 152px;
  justify-content: space-evenly;
}

.characteristic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
  margin-left: 156px;
  margin-right: 156px;
  justify-content: center;
}

.gallery-item {
  width: 360px;
  height: 200px;
  border: 1px, solid, rgba(128, 128, 128, 1);
}
.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  position: absolute;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #ffffff;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-div {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.btn-load-more-div {
  display: none;
  justify-content: center;
  margin-top: 36px;
  gap: 8px;
}

.btn-load-more {
  width: 125px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(78, 117, 255, 1);
  border: none;
  color: white;
  font-weight: 500;
}

.btn-load-more:hover {
  background-color: rgba(108, 140, 255, 1);
}
